
<!DOCTYPE html>
<html>
<head>

    <title>Slack Bot</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<div id="chat">


        <input type="text" id="username" class="form-control" placeholder="Email-Address" aria-describedby="basic-addon1">
        <br>
        <button id="create_channel" class="btn btn-success" > Let's Go!>> </button>

        <br><br>
        <input type="text" id="tantanatan" placeholder="Type your message here..." class="form-control"><br>
        <button id="btn"  class="btn btn-success">    Send Me        </button>
    <form>
        <input style="visibility: hidden" type="text" id="channel_id" value="channel_id">
        <input style="visibility: hidden" type="text" id="channel_name" value="channel_name">
        <input style="visibility: hidden" type="text" id="channel_ts" value="channel_ts">
        <input style="visibility: hidden" type="text" id="new_ts" value="new_ts">
        <input type="text" id="token" placeholder="Give your token" value="xoxp-157305059732-157269328242-157540272292-1606768938cc7e7c53f6622d3e99c10c" >

    </form>
        <table id="a">

        </table>


</div>


<script src="/javascripts/index.js"></script>
</body>
</html>